* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    .home {
        background-image: url("../assets/images/home.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: flex;
        &--start {
            margin: auto;
            padding: 20px 40px;
            background: #ff1111;
            font-size: 18px;
            font-family: "Trebuchet MS", sans-serif;
            border: none;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: rgb(255, 70, 57);
            }
        }
    }
}
